.favorits{
    .container{
        .row{
            .col{
                img{
                    width: 300px;
                }
                p{
                    font-size: 25px;
                    i{
                        font-size: 14px;
                        color: gray;
                    }
                }
            }
        }
    }
}