.box {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 2s;
}

.box1 {
  background-color: brown;
  transition: all;
}
.box1:hover {
  transform: scale(1.2);
  background-color: rgb(201, 130, 130);
}
.box2 {
  background-color: rgb(24, 53, 24);
}
.box2:hover {
  transform: translate(100px, -100%);
}

.box3 {
  background-color: darkblue;
}

.box3:hover {
  transform: rotatey(360deg);
}
.box4 {
  background-color: orange;
}
.box4:hover {
  transform: skew(-45deg);
}
.container {
  height: 100vh;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.sec1{
    height: 100vh;
    border: 1px solid black;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}
.earth{
    width: 100px;
    
    animation-name: rotate ;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: linear;

}
.lunar{
    width: 20px;
   
  
}
@keyframes rotate {
    from{
    transform: rotate(0deg) ;
    }
    to{
    transform: rotate(360deg) ;

    }
    
}
