footer{
    background-color: brown;
    height: 10vh;
    .container{
     padding-top: 15px;
       
       .footer-p{
            text-align: center;
            color: white;
            font-size: 14px;
            
        }
    }
}