.blog {
  .container {
    padding: 50px 100px;
    .blog-note {
      text-align: center;
      padding: 0 100px;
      h1 {
        font-size: 30px;
        margin-bottom: 20px;
        &::after {
          content: "";
          display: block;
          height: 4px;
          width: 30px;
          background-color: brown;
          position: relative;
          left: 48%;
        }
      }
      p {
        color: gray;
        font-size: 14px;
      }
      @media screen and (max-width: 767px) {
        padding: 0 20px;
      }
    }
    .blog-card {
      .col {
        h3 {
          text-align: center;
          font-size: 15px;
          &:hover {
            color: brown;
          }
        }
        p {
          color: gray;
          text-align: center;
          font-size: 15px;
        }
        .blog-img {
          height: 40vh;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
        .img1 {
          background-image: url("./bg-image/blog1.jpg");
        }
        .img2 {
          background-image: url("./bg-image/blog2.jpg");
        }
        .img3 {
          background-image: url("./bg-image/blog3.jpg");
        }
      }
    }
    @media screen and (max-width: 767px) {
      padding: 50px;
    }
  }
}
