.favorites {
  .container {
    padding: 50px 0;
    h1 {
      color: brown;
      text-align: center;
    }
    .fav {
      .col {
        text-align: center;
        .api-img {
          position: relative;
          left: 35%;
          padding: 25px 10px;
          border: 1px solid brown;
          border-radius: 50%;
          width: 100px;
          margin-bottom: 10px;
          img {
            width: 50%;
          }
        }
        p {
          color: gray;
        }
        a {
          border: 1px solid brown;
          padding: 10px 20px;
          color: brown;
        }
      }
    }
  }
}
