#adopt {
  .herroBanner {
    padding: 50px 130px;
    .row {
      @include display;
      justify-content: center;
      .col {
        img {
          width: 100%;
        }
        .adoptNote {
          font-size: 30px;
          color: black;
        }
        p {
          color: gray;
        }
        a {
          color: $color-brown;
          border: 2px solid $color-brown;
          padding: 10px 20px;
          border-radius: 8px;
          transition: linear 0.5s;
          &:hover {
            background-color: $color-brown;
            color: white;
          }
        }
      }
    }
    @media only screen and (max-width: 767px) {
      padding: 50px 30px;
    }
  }
}
