#home {
  img {
    height: 100vh;
  }
  .carousel-caption {
    top: 25%;
    .row {
      @include display;
      justify-content: center;
      .col {
        text-align: left;
        .noteItem1 {
          font-size: 30px;
          font-family: "Sacramento", cursive;
        }
        .noteItem2 {
          font-size: 30px;
          font-weight: bold;
        }
        .noteItem3 {
          font-size: 15px;
        }
        a {
          background-color: $color-brown;
          padding: 10px 20px;
          color: white;
          border-radius: 5px;
          &:hover {
            opacity: 0.5;
          }
        }
      }
      .homeItem1 {
        color: black;
      }
    }
  }
}
