footer{
    height: 40vh;
    margin-top: 10px;
    background-color: rgb(172, 243, 243);
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-top: 150px;
    nav{
        ul{
            li{
                line-height: 5vh;
                font-size: 20px;
                a{
                    color: gray;
                }
            }
        }
    }
}