.sec1 {
    margin-top: 10px;
    border: 2px solid black;
    height: 100vh;
  
    .container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 20px;
  
      .box {
        height: 150px;
        width: 150px;
        border: 2px dotted;
        background-color: yellow;
        transition: 2s;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
  
        &:hover {
          transform: rotatex(360deg);
          background-color: white;
          h4 {
            display: none;
          }
        }
      }
      .box:first-child:hover {
         
        background-image: url(./mini3.png);
      }
      .box:nth-child(2):hover{
          background-image: url("./minyon2.png");
      }
      .box:nth-child(3):hover{
          background-image: url("./mini3.png");
      }
    }
  }