header{
    
    position: fixed;
    width: 100%;
    background-color: rgba(113, 113, 231, 0.4);
    z-index: 10;
    .container{
        nav{
            @include display;
            height: 14vh;
            .head-ul{
                 @include display;
                 gap: 15px;
                li{
                    a{
                        text-transform: uppercase;
                        color: white;
                     
                    }
                }
                @media only screen and (max-width:992px) {
                    display: none;
                }
            }

            .fa-bars{
                color: white;
                font-size: 20px;
                display: none;
                @media only screen and (max-width:992px) {
                    display: block;
                }
            }
       
        @media only screen and (max-width:992px) {
            &.show{
                height: 100vh;
                padding-top: 20px;
                align-items: start;
                .head-ul{
                    display: block;
                    position: relative;
                    top: 100px;
                  
                    
    
                }
    
            }
        }
    }
       
    }
}